*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    display: flex;
    width: 1200px;
}

.side {
    width: 400px;
    background-image: url(./img/jorgen-hendriksen-H_cQ7I2FPqk-unsplash.jpg);
    background-position: center center;

}

.content {
    width: 600px;
}

header, main, footer {
    margin-bottom: 25px;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-form {
    display: flex;

}

.slot {
    display: flex;
    flex-direction: column;
}

.slot.left {
    margin-right: auto;
}

.slot.right {
    margin-left: auto;
}